@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#111] text-white !scrollbar-thin !scrollbar-track-transparent !scrollbar-thumb-red-600;
  }
  header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
}

@layer components {
  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-full cursor-pointer w-[52px] h-[52px] xl:w-auto xl:h-auto 
    xl:py-3 xl:px-4 transition duration-200 ease-out;
  }
  .icon {
    @apply cursor-pointer w-9 h-9 hover:bg-[#E20910] hover:bg-opacity-10 flex items-center justify-center rounded-full transition ease-out;
  }
  .headerLink {
    @apply cursor-pointer text-sm text-[#e5e5e5] transition duration-[.4s] hover:text-[#b3b3b3];
  }
  .bannerBtn {
    @apply flex items-center gap-x-2 rounded-lg px-5 py-1.5 text-xs font-semibold transition hover:opacity-90 md:py-2.5 md:px-8 md:text-base drop-shadow-md;
  }
  .glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
